.center {
    text-align: center;
}
body {
    /*font-family: 'Antic Slab', serif;*/
    font-family: 'Della Respira', serif;
    /*border-top: 10px;*/
    /*    border-top-style: solid;
        border-top-width: 10px;
        border-top-color: #FFFFB1;*/
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 16px;
    background-color: #F6FFF4;
    /*    background-image:  url('/img/sand.jpg') !important;
        background-repeat: repeat;*/
}
h1 {
    /*font-family: 'Antic Slab', serif;*/
    font-family: 'Della Respira', serif;
    /*font-family: 'Cinzel', serif;*/
    font-size: 28px
}
h2 {
    /*font-family: 'Antic Slab', serif;*/
    font-family: 'Della Respira', serif;
    /*font-family: 'Cinzel', serif;*/
    font-size: 22px
}
.footer {
    /*font-family: 'Antic Slab', serif;*/
    font-family: 'Della Respira', serif;
    font-size: 14px;
}

#info {
    text-align: center;
    font-family: 'Della Respira', serif;
    font-size: 12px;
    padding: 10px 20px;
}

.navbar-inverse,
.navbar-inverse .nav > li > a{
    background-color: #E6FFAC !important;
    color: black ! important;
}
.navbar-inverse .active  {
    background-color: #E6FFAC !important;
}
.navbar-inverse .active {
    background-color: #E6FFAC !important;
    color: black ! important;
}
.navbar-inverse .nav li {
    border-bottom: solid #E6FFAC !important;
    border-bottom-width: 6px;
}
.navbar-inverse .nav li:hover {
    border-bottom: solid #FFBE3A !important;
    border-bottom-width: 6px;
}
article {
    margin-top: 2em;
    height:365px;
    overflow:auto;
/*    padding: 1em;
    border: solid #FFBE3A;
    border-width: 2px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;*/
}
#email,
#nom,
#msg{
    width: 100% !important;
}
.alert {
    margin-top: -10px !important;
}
footer {
    margin-top: 4em;
}

.sidebar {
    padding-right: 9px;
    margin-right: -9px;
    background-color: #DAEEFF;
}
/*#newsletter,.shift-actu{margin:0 0 0 2em;}*/
#newsletter {
    color: black;
}
#newsletter #nl-form label {
    text-align:right;
    /*display:inline-block;*/
    float: left;
    /*    margin:10px 0;*/
    width: 80px;
}
#newsletter #nl-form input {
    /*display:inline-block;*/
    float: left;
    /*font:13px / 22px 'Open Sans',sans-serif;*/
    margin:6px 15px;
    padding:3px;-webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    outline:none;
    border:solid 2px #dddddd;
    /*width:90%;*/
}
#newsletter #nl-form #email-error{
    color:#fff;
    font-size:15px;
    margin:-6px 0 0 119px;
    background-color:#cf270a;
    width:90%;
    text-align:center;
    display:none;
    padding:4px;
}
#newsletter #nl-form .error{}
#newsletter #nl-form input:invalid{
    border-color:#FFECA7 !important;
    background-color:#FFECA7 !important;
}
#newsletter #nl-form input:required{
    border-color:#dddddd;
    background-color:#eee;}
#newsletter #nl-form .busy{
    background-image:url('img/wait.gif') !important;
    background-repeat:no-repeat !important;
    background-position:right center !important;
    color:#ccc;
}
#newsletter #nl-form #wait,
#newsletter #nl-form input[type=submit]{
    width:90px;
    background:none;
    padding:3px;
    /*margin:0 50%;*/
    background-color:#eee;
}
#newsletter #nl-form #wait{
    width:80px !important;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    outline:none;
    border:solid 2px #dddddd;
    background-image:url('../img/wait.gif') !important;
    background-repeat:no-repeat !important;
    background-position:right center !important;
    color:#ccc;
    display:none;
}
#newsletter #nl-failure,
#newsletter #nl-success{
    display:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    background-color:#dddddd;
    padding:1em;
}

.column {
    display: inline-table;
    margin: 1em;
    width:30%;
}